.error {
  background-color: #B00020;
  color: #fff;
  padding: 8px;
  text-align: center;

  @include themify(theme-type(color)){
    color: theme-property(error);
    background-color: theme-property(error-bg);
  }
}