.project {
  background-color: $white;
  border-radius: 16px;
  padding: 16px;
  margin-bottom: 32px;

  @include e(heading) {
    margin-bottom: 16px;

    &::first-letter {
      text-transform: uppercase;
    }
  }

  @include e(link) {
    color: #555;

    @include hover {
      color: darken($color: #555, $amount: 30%);
    }

    @include themify(theme-type(color)){
      color: theme-property(tertiary-font);

      @include hover {
        color: theme-property(primary-font);
      }
    }
  }

  @include e(description) {
    margin-bottom: 32px;
    text-align: justify;
  }

  @include e(btn) {
    margin-left: 8px;;
  }

  @include themify(theme-type(color)){
    color: theme-property(tertiary-font);
    background-color: theme-property(box-bg);
  }
}